<!DOCTYPE html>
<html>
<head>
    <title>ADMIN</title>
</head>
<h2>WELCOME ADMIN</h2>
<body style="background-color:powderblue;">

<label for="adt">ΑΔΤ:</label>
<input type="text" id="adt" name="adt"><br><br>


<input type="submit" id="search" value="search"><br><br>
<label for="add">ADD USER:</label>
<input type="submit" id="add" value="add">

</body>

<script type="text/javascript">
    window.addEventListener('load',(event)=>{
        document.getElementById('add').addEventListener('click',(event)=>{
            const xhr = new XMLHttpRequest();
            xhr.open('GET','/register1',true);
            xhr.send();
            xhr.onreadystatechange = function(){

                if(xhr.status == 200){
                    window.location.assign("/register1");
                }

            }

        });

    });

    window.addEventListener('load',(event)=>{
        document.getElementById('si').addEventListener('click',(event)=>{
            const xhr = new XMLHttpRequest();
            xhr.open('GET','/login',true);
            xhr.send();
            xhr.onreadystatechange = function(){

                if(xhr.status == 200){
                    window.location.assign("/login");
                }


            }

        });

    });
</script>
</html>