<!DOCTYPE html>
<html>
<head>
  <title>ΤΡΟΠΟΠΟΙΗΣΗ ΑΙΤΗΣΗΣ</title>
</head>
<h2>ΤΡΟΠΟΠΟΙΗΣΗ ΤΗΣ ΑΙΤΗΣΗΣ ΣΑΣ</h2>
<body style="background-color:powderblue;">
<form action="/action_page.php">
  <label for="fname">ΟΝΟΜΑ:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">ΕΠΟΝΥΜΟ:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="adt">ΑΔΤ:</label>
  <input type="text" id="adt" name="adt"><br><br>
  <label for="email">EMAIL:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="strAr">ΣΤΡΑΤΙΩΤΙΚΟΣ ΑΡΙΘΜΟΣ:</label>
  <input type="text" id="strAr" name="strAr"><br><br>
  <label for="lname">ΑΡΧΕΙΟ:</label>
  <input type="file" id="myFile" name="filename"><br><br>


  <input type="submit" value="Submit">
</form>


</body>

</html>