<!DOCTYPE html>
<html>
<head>
  <title>ΤΡΟΠΟΠΟΙΗΣΗ ΑΙΤΗΣΗΣ</title>
</head>
<h2>ΤΡΟΠΟΠΟΙΗΣΗ ΤΗΣ ΑΙΤΗΣΗΣ ΣΑΣ</h2>
<body style="background-color:powderblue;">

<!--<form action="/action_page.php">-->
<!--  <label for="fname">ΟΝΟΜΑ:</label>-->
<!--  <input type="text" id="fname" name="fname"><br><br>-->
<!--  <label for="lname">ΕΠΟΝΥΜΟ:</label>-->
<!--  <input type="text" id="lname" name="lname"><br><br>-->
<!--  <label for="adt">ΑΔΤ:</label>-->
<!--  <input type="text" id="adt" name="adt"><br><br>-->
<!--  <label for="email">EMAIL:</label>-->
<!--  <input type="text" id="email" name="email"><br><br>-->
<!--  <label for="strAr">ΣΤΡΑΤΙΩΤΙΚΟΣ ΑΡΙΘΜΟΣ:</label>-->
<!--  <input type="text" id="strAr" name="strAr"><br><br>-->
<!--  <label for="lname">ΑΡΧΕΙΟ:</label>-->
<!--  <input type="file" id="myFile" name="filename"><br><br>-->
  <label for="idapp">Application id</label>
 <input type="text" id="idapp" name="fname"><br><br>
  <label for="myFile">ΑΡΧΕΙΟ:</label>
  <input type="file" id="myFile" name="filename"><br><br>

  <input type="submit" id="submit" value="submit">



</body>
<script type="text/javascript">
    window.addEventListener('load',(event)=>{
        document.getElementById('submit').addEventListener('click',(event)=>{


            const id = {
                'id':document.getElementById("idapp").value

            };
            const file = {
                'file':document.getElementById('myFile').value,
            }
            var formdata = new FormData();
            formdata.append("file", document.getElementById("myFile").value);
            formdata.append("id",new Blob([JSON.stringify(id)],{type: "application/json"}))

            const xhr = new XMLHttpRequest();
            xhr.open('PUT', '/cit/app/'+id, true);
            xhr.send(formdata);
            xhr.onreadystatechange = function () {

            if (xhr.status == 200) {
                alert(xhr.responseText);
            }


        }
    });
});
</script>
</html>