<!DOCTYPE html>
<html>
<head>
    <title>ΝΕΑ ΑΙΤΗΣΗ</title>
</head>
<h2>ΝΕΑ ΑΙΤΗΣΗ</h2>
<body style="background-color:powderblue;">
<form name="app">
    <label for="fname">ΟΝΟΜΑ:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">ΕΠΟΝΥΜΟ:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="adt">ΑΔΤ:</label>
    <input type="text" id="adt" name="adt"><br><br>
    <label for="email">EMAIL:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="strAr">ΣΤΡΑΤΙΟΤΙΚΟΣ ΑΡΙΘΜΟΣ:</label>
    <input type="text" id="strAr" name="strAr"><br><br>
    <label for="lname">ΑΡΧΕΙΟ:</label>
    <input type="file" id="myFile" name="filename"><br><br>
    <label for="kodAitf">--kodikosAitishs--</label><br><br>

    <input id="Submit" type="button" value="Submit">
</form>


</body>

<script type="text/javascript">
    window.addEventListener('load',(event)=>{
        document.getElementById('Submit').addEventListener('click',(event)=>{

            const user = {
                'name':document.getElementById('fname').value,
                'lastName':document.getElementById('lname').value,
                'adtcit':document.getElementById('adt').value,
                'email':document.getElementById('email').value,
                'username':document.getElementById('strAr').value,
            };
            const file = {
                'file':document.getElementById('myFile').value,
            }
            var formdata = new FormData();
            formdata.append("file", document.forms["app"].filename.files[0] );
            formdata.append("user",new Blob([JSON.stringify(user)],{type: "application/json"}))
            const xhr = new XMLHttpRequest();
            xhr.open('POST','http://localhost:8080/cit/app',true);

            xhr.send(formdata);
            xhr.onreadystatechange = function (){

                if(xhr.status == 200){
                    alert('OK');

                }
            };
        });
    });


</script>
</html>