<!DOCTYPE html>
<html>
<head>
    <title>ΝΕΟΣ ΛΟΓΑΡΙΑΣΜΟΣ</title>
</head>
<h2>ΝΕΟΣ ΛΟΓΑΡΙΑΣΜΟΣ</h2>
<body style="background-color:powderblue;">

    <label for="fname">ΟΝΟΜΑ:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">ΕΠΩΝΥΜΟ:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="adt">ΑΔΤ:</label>
    <input type="text" id="adt" name="adt"><br><br>
    <label for="email">EMAIL:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="username">ΟΝΟΜΑ ΧΡΗΣΤΗ:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">ΚΩΔΙΚΟΣ:</label>
    <input type="text" id="password" name="password"><br><br>



    <input type="submit" id="butt" value="εγγραφη">



</body>

</html>